@font-face {
    font-family: '1942_report1942_report';
    src: url('../fonts/1942-webfont.woff2') format('woff2'),
         url('../fonts/1942-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body{
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("../images/background-image.jpg");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#setNameModal{
    width: 50%;
    padding: 10px;
    border-radius: 0px;
    font-family:'1942_report1942_report','Courier New', Courier, monospace;
    text-align: left;
    border-radius: 20px;
    background-color: white;
    box-shadow: 7px 9px 13px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 7px 9px 13px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 7px 9px 13px -3px rgba(0,0,0,0.74);
}

#setNameModal form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#setNameModal form button{
    width: fit-content;
    padding: 5px;
    font-family:'1942_report1942_report','Courier New', Courier, monospace;
}

#setNameModal form input[type="text"]{
    padding: 5px;
    background: transparent;
    border: none;
    width: 100px;
    border-bottom: 1px solid black;
    text-align: center;
}

#setNameModal form input[type="text"]:focus{
    outline: none;
}

#gameboard,
#playerGameBoardDiv,
#computerGameBoardDiv{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
}

#gameboard{
    width: 419px;
    height: 419px;
}

#gameboardModal{
    display: none;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#gameboardModal p{
    margin-bottom: 20px;
}

#content{
    display: flex;
    gap: 10px;
}

#shipList{
    text-align: left;
    margin-top: 10px;
    color: white;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
}

#shipList h2{
    text-align: center;
    margin-bottom: 30px;
}

#axisButton{
    width: 280px;
    padding: 5px;
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
}

#mainGameModal{
    display: none;
    gap: 10px;
    color: white;
    background-color: rgb(58, 56, 56);
    padding: 10px;
    border-radius: 10px;
}

#winScreen{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    color: white;
    display: none;
    background-color: black;
}

#inGameScreen{
    width: 280px;
    height: 300px;
    overflow: scroll;
    white-space: pre;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
}

.consoleEffect{
    background-color: black;
    font-family: monospace;
    border: 1px solid green;
    color: white;
    -webkit-box-shadow: inset 8px 8px 24px 0px rgba(11, 75, 1, 1);
    -moz-box-shadow: inset 8px 8px 24px 0px rgba(11, 75, 1, 1);
    box-shadow: inset 8px 8px 24px 0px rgba(11, 75, 1, 1);
}

.name{
    color: green;
}

.glass{
    height: 420px;
    width: 420px;
    pointer-events: none;
    z-index: 1;
    position:absolute;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.row{
    flex: 1;
    display: flex;
}

.column{
    border: 1px solid lightgreen;
    background-color: black;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bodyInGame{
    justify-content: unset;
}


.button-82-pushable {
    width: 280px;
    margin-top: 20px;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
    );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
    }

button:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    html,body{
        overflow: auto;
        height: unset;
        padding: 30px 0;
    }
    #gameboardModal{    
        width: 320px;
    }
    #content{
        flex-direction: column;
    }
    #gameboard{
        width: 300px;
        height: 300px;
    }
    #shipList{
        display: none;
    }
    #mainGameModal{
        flex-direction: column;
    }
    #playerGameBoardDiv,
    #computerGameBoardDiv{
        width: 250px;
        height: 250px;
    }
    #inGameScreen{
        height: 150px;
    }
    .glass{
        display: none;
    }
}